* {
    box-sizing: border-box !important;
}

html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Space Grotesk', sans-serif;
    scroll-behavior: smooth;
    background: rgb(240, 240, 240);
}
