---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/home/Hero.astro';
import CaseStudies from '../components/home/CaseStudies.astro';
import About from '../components/home/About.astro';
import Services from '../components/home/Services.astro';
---

<Layout title="Torge Stehr - Software Developer based in Vancouver, Canada" language="en">
    <main>
        <Hero />
        <CaseStudies />
        <About />
        <Services />
    </main>
</Layout>

<style lang="scss">
    main {
        margin: 0 auto;
        padding: 0 4vw;
        width: 100%;
        max-width: 1850px;
    }
</style>
