---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/saysync/Hero.astro';
---

<Layout title="SaySync" language="en">
    <main>
        <Hero />
    </main>
</Layout>

<style lang="scss">
    main {
        margin: 0 auto;
        padding: 0 4vw;
        width: 100%;
        max-width: 1850px;
    }
</style>
