---
import torgestehr from '../../assets/torge-stehr.jpeg';
import { getLangFromUrl, useTranslations } from '../../utils/i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<section>
    <h2 class="title">{t('about.title')}</h2>
    <div class="grid">
        <img src={torgestehr.src} alt="Torge Stehr" title="Torge Stehr" fetchpriority="high" />
        <div class="content">
            <p class="text" set:html={t('about.text')} />
            <div>
                <input id="date-format" type="hidden" value={t('about.date-format')} />
                <p>{t('about.time')}&nbsp;</p>
                <p id="time"></p>
            </div>
            <!-- Show local live time in Hanover, Germany -->
            <!-- <p>
                {t('about.timezone')}: {new Date().toLocaleString('de-DE', { timeZone: 'Europe/Berlin' })}
            <!-- <p>
                {t('about.timezone')}: {new Date().toLocaleString('de-DE', { timeZone: 'Europe/Berlin' })}
            </p> -->
        </div>
    </div>
</section>

<style lang="scss">
    @use '/src/styles/variables' as *;

    section {
        position: relative;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
        // margin: 0 4vw;
        padding: 140px 0;
        // width: calc(100% - 8vw);
        // min-width: calc(100% - 8vw);
        width: 100%;
        min-width: 100%;
        border-top: 2px solid $black;

        .title {
            position: absolute;
            top: 20px;
            margin: 0;
            padding-left: 16px;
            color: $black;
            font-weight: 500;
            font-size: 16px;
            line-height: 20px;
            text-transform: uppercase;
            transition: color 0.3s cubic-bezier(0.47, 0, 0.745, 0.715);

            &::before {
                content: '';
                position: absolute;
                top: 50%;
                left: 0;
                transform: translateY(-50%);
                width: 10px;
                height: 10px;
                border-radius: 50%;
                background: $black;
            }
        }

        .grid {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            width: 100%;

            img {
                width: 40%;
                height: auto;
            }

            .content {
                display: flex;
                align-items: flex-start;
                justify-content: flex-start;
                flex-direction: column;
                padding: 6vw;

                .text {
                    margin: 0;
                    color: $black;
                    font-size: 32px;
                    line-height: 45px;
                    font-weight: 500;
                }

                div {
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;

                    p {
                        margin: 0;
                        margin-top: 10px;
                        color: $black;
                        font-weight: 500;
                        font-size: 16px;
                        line-height: 20px;
                        text-transform: uppercase;
                    }
                }
            }
        }
    }
</style>

<script>
    function updateClock() {
        const dateFormat = (document.getElementById('date-format')! as HTMLInputElement).value;
        const now = new Date();
        const timeZone: string = 'Europe/Berlin';
        const formatter = new Intl.DateTimeFormat(dateFormat ?? 'en-US', { timeZone: timeZone, hour: '2-digit', minute: '2-digit', second: '2-digit' });
        document.getElementById('time')!.textContent = formatter.format(now);
    }

    updateClock();
    setInterval(updateClock, 500);
</script>
