---
import { getLangFromUrl, useTranslations } from '../../utils/i18n/utils';
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<section>
    <h2 class="title">{t('services.title')}</h2>
    <div class="grid">
        <div>
            <h3>{t('services.software-development.title')}</h3>
            <p>{t('services.software-development.text')}</p>
        </div>
        <span></span>
        <div>
            <h3>{t('services.workflow-automation.title')}</h3>
            <p>{t('services.workflow-automation.text')}</p>
        </div>
        <span></span>
        <div>
            <h3>{t('services.ai-agents.title')}</h3>
            <p>{t('services.ai-agents.text')}</p>
        </div>
        <span></span>
        <div>
            <h3>{t('services.webdesign.title')}</h3>
            <p>{t('services.webdesign.text')}</p>
        </div>
        <span></span>
        <div>
            <h3>{t('services.it-support.title')}</h3>
            <p>{t('services.it-support.text')}</p>
        </div>
        <span></span>
        <div>
            <h3>{t('services.consulting.title')}</h3>
            <p>{t('services.consulting.text')}</p>
        </div>
    </div>
</section>

<style lang="scss">
    @use '/src/styles/variables' as *;

    section {
        position: relative;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
        margin: 0 4vw;
        width: calc(100% - 8vw);
        min-width: calc(100% - 8vw);
        border-top: 2px solid $black;

        .title {
            position: absolute;
            top: 20px;
            margin: 0;
            padding-left: 16px;
            color: $black;
            font-weight: 500;
            font-size: 16px;
            line-height: 20px;
            text-transform: uppercase;
            transition: color 0.3s cubic-bezier(0.47, 0, 0.745, 0.715);

            &::before {
                content: '';
                position: absolute;
                top: 50%;
                left: 0;
                transform: translateY(-50%);
                width: 10px;
                height: 10px;
                border-radius: 50%;
                background: $black;
            }
        }

        .grid {
            display: grid;
            // grid-template-columns: 1fr auto 1fr;
            grid-template-columns: 1fr auto 1fr auto 1fr;
            align-items: flex-start;
            justify-content: flex-start;
            padding: 30px 0;

            span {
                height: 100%;
                width: 2px;
                background: $black;
                margin: 0 4vw;

                &:nth-child(3n) {
                    display: none;
                }
            }

            div {
                padding: 4vw 0;
                border-top: 2px solid $black;

                &:nth-child(-n + 5) {
                    border-top: none;
                }

                h3 {
                    margin: 0;
                    margin-bottom: 20px;
                    color: $black;
                    font-size: 32px;
                    line-height: 45px;
                    font-weight: 500;
                }

                p {
                    margin: 0;
                    color: $black;
                    font-size: 18px;
                    line-height: 34px;
                }
            }
        }
    }
</style>
