---
import Layout from '../../layouts/Layout.astro';
---

<Layout title="SaySync" language="de">
    <main></main>
</Layout>

<style lang="scss">
    main {
        margin: 0 auto;
        padding: 0 4vw;
        width: 100%;
        max-width: 1850px;
    }
</style>
