---
import Layout from '../../layouts/Layout.astro';
---

<Layout title="Impressum" language="de">
    <main>
        <div>
            <h1>Impressum</h1>

            <p>
                Torge Stehr<br />
                Johann-Strau&szlig;-Weg 29<br />
                30900 Wedemark
            </p>

            <h2>Kontakt</h2>
            <p>
                Telefon: +49 152 37784110<br />
                E-Mail: hello@torgestehr.com
            </p>

            <h2>Umsatzsteuer-ID</h2>
            <p>
                Umsatzsteuer-Identifikationsnummer gem&auml;&szlig; &sect; 27 a Umsatzsteuergesetz:<br />
                DE325823960
            </p>

            <h2>EU-Streitschlichtung</h2>
            <p>Die Europ&auml;ische Kommission stellt eine Plattform zur Online-Streitbeilegung (OS) bereit: <a href="https://ec.europa.eu/consumers/odr/" target="_blank" rel="noopener noreferrer">https://ec.europa.eu/consumers/odr/</a>.<br /> Unsere E-Mail-Adresse finden Sie oben im Impressum.</p>

            <h2>Verbraucher&shy;streit&shy;beilegung/Universal&shy;schlichtungs&shy;stelle</h2>
            <p>Wir nehmen an einem Streitbeilegungsverfahren vor einer Verbraucherschlichtungsstelle teil. Zust&auml;ndig ist die Universalschlichtungsstelle des Zentrums f&uuml;r Schlichtung e.V., Stra&szlig;burger Stra&szlig;e 8, 77694 Kehl am Rhein (<a href="https://www.verbraucher-schlichter.de" rel="noopener noreferrer" target="_blank">https://www.verbraucher-schlichter.de</a>).</p>
        </div>
    </main>
</Layout>

<style lang="scss">
    @use '/src/styles/variables' as *;

    main {
        margin: 0 auto;
        padding: 0 4vw;
        width: 100%;
        max-width: 1850px;

        div {
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            flex-direction: column;
            padding: 120px 0;
            width: 100%;
            max-width: 100%;
            overflow-x: auto;

            @media (max-width: 800px) {
                padding-bottom: 80px;
            }

            @media (max-width: 420px) {
                padding-top: 100px;
                padding-bottom: 30px;
            }

            h1 {
                margin: 0;
                margin-bottom: 25px;
                color: $black;
                font-size: 48px;
                font-weight: 500;

                @media (max-width: 1060px) {
                    font-size: 38px;
                }

                @media (max-width: 400px) {
                    font-size: 32px;
                }
            }

            h2 {
                margin: 0;
                margin-bottom: 25px;
                color: $black;
                font-size: 34px;
                font-weight: 500;

                @media (max-width: 1060px) {
                    font-size: 28px;
                    line-height: 42px;
                }

                @media (max-width: 400px) {
                    font-size: 24px;
                    line-height: 38px;
                }
            }

            p,
            a {
                margin: 0;
                margin-bottom: 50px;
                color: $black;
                font-size: 22px;
                line-height: 38px;

                @media (max-width: 1060px) {
                    font-size: 20px;
                    line-height: 38px;
                }

                @media (max-width: 450px) {
                    font-size: 18px;
                    line-height: 32px;
                }

                @media (max-width: 375px) {
                    font-size: 16px;
                }

                @media (max-width: 320px) {
                    font-size: 15px;
                }
            }
        }
    }
</style>
