---
import { getLangFromUrl, useLocalLink, useTranslations } from '../utils/i18n/utils';
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const link = useLocalLink(lang);
---

<footer>
    <div class="contact">
        <div>
            <h2 class="title">{t('footer.title')}</h2>
            <h3>
                {t('footer.contact')}
                <br />
                <a href="mailto:hello@torgestehr.com" title="hello@torgestehr.com">hello@torgestehr.com</a>
            </h3>
        </div>
    </div>
    <div class="socials">
        <div>
            <a href="https://www.linkedin.com/in/torge-stehr" title="LinkedIn">LinkedIn</a>
            <a href="https://github.com/torgestehr" title="GitHub">GitHub</a>
            <a href="/assets/cv_torge-stehr.pdf" title="CV">CV</a>
            <!-- <a href="https://www.youtube.com/@torgestehr" title="YouTube">YouTube</a> -->
        </div>
    </div>
    <div class="legal">
        <div class="grid">
            <div class="links">
                <a href={link('/imprint')} title={t('footer.imprint')}>{t('footer.imprint')}</a>
                <p>|</p>
                <a href={link('/privacy-policy')} title={t('footer.privacy-policy')}>{t('footer.privacy-policy')}</a>
            </div>
            <p>Copyright © {new Date().getFullYear()} Torge Stehr. All Rights Reserved</p>
        </div>
    </div>
</footer>

<style lang="scss">
    @use '/src/styles/variables' as *;

    .contact {
        margin: 0 auto;
        padding: 0 4vw;
        width: 100%;
        max-width: 1850px;

        div {
            position: relative;
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            flex-direction: column;
            border-top: 2px solid $black;
            padding: 140px 0;
            width: 100%;
            min-width: 100%;

            @media (max-width: 800px) {
                padding-top: 120px;
                padding-bottom: 80px;
            }

            .title {
                position: absolute;
                top: 20px;
                margin: 0;
                padding-left: 16px;
                color: $black;
                font-weight: 500;
                font-size: 16px;
                line-height: 20px;
                text-transform: uppercase;
                transition: color 0.3s cubic-bezier(0.47, 0, 0.745, 0.715);

                &::before {
                    content: '';
                    position: absolute;
                    top: 50%;
                    left: 0;
                    transform: translateY(-50%);
                    width: 10px;
                    height: 10px;
                    border-radius: 50%;
                    background: $black;
                }
            }

            h3 {
                margin: 0;
                margin-bottom: 10px;
                color: $black;
                font-weight: 500;
                font-size: 6vw;
                line-height: 7vw;

                @media (min-width: 1980px) {
                    font-size: 120px;
                    line-height: 140px;
                }

                @media (max-width: 650px) {
                    font-size: 8vw;
                    line-height: 11vw;
                }

                a {
                    position: relative;
                    color: $primary;
                    text-decoration: none;

                    &::before {
                        content: '';
                        position: absolute;
                        bottom: -20px;
                        left: 0;
                        transform: translateY(-50%);
                        width: 100%;
                        height: 9px;
                        background: $primary;
                        display: none;
                    }

                    &:hover {
                        &::before {
                            display: block;
                        }
                    }
                }
            }
        }
    }

    .socials {
        width: 100%;
        min-width: 100%;
        border-top: 2px solid $black;
        border-bottom: 2px solid $black;

        div {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            margin: 0 auto;
            width: 100%;
            max-width: 1850px;

            a {
                margin: 0;
                color: $black;
                font-size: 64px;
                font-weight: 500;
                text-decoration: none;
                padding: 70px 4vw;
                border-right: 2px solid $black;

                @media (max-width: 1280px) {
                    font-size: 4vw;
                }

                @media (max-width: 800px) {
                    padding: 40px 4vw;
                }

                @media (max-width: 420px) {
                    font-size: 5vw;
                }

                &:last-child {
                    border-right: none;
                }
            }
        }
    }

    .legal {
        margin: 0 auto;
        padding: 0 4vw;
        width: 100%;
        max-width: 1850px;

        .grid {
            position: relative;
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            flex-direction: column;
            padding: 25px 0;
            width: 100%;
            min-width: 100%;

            p {
                margin: 0;
                font-size: 14px;
                color: rgba($color: $black, $alpha: 0.5);
            }

            .links {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                gap: 8px;
                margin-bottom: 8px;

                @media (max-width: 320px) {
                    align-items: flex-start;
                    flex-direction: column;
                    margin-bottom: 15px;
                }

                p {
                    color: $black;
                    font-size: 16px;

                    @media (max-width: 320px) {
                        display: none;
                    }
                }

                a {
                    margin: 0;
                    color: $black;
                    font-size: 16px;
                    text-decoration: none;
                    transition: color 0.3s cubic-bezier(0.47, 0, 0.745, 0.715);

                    &:hover {
                        color: $primary;
                    }
                }
            }
        }
    }
</style>
