---
import { getLangFromUrl, useTranslations } from '../utils/i18n/utils';
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<footer>
    <div class="contact">
        <div>
            <h2 class="title">{t('footer.title')}</h2>
            <h3>
                {t('footer.contact')}
                <br />
                <a href="mailto:hello@torgestehr.com" title="hello@torgestehr.com">hello@torgestehr.com</a>
            </h3>
        </div>
    </div>
    <div class="socials">
        <div>
            <a href="https://www.linkedin.com/in/torge-stehr" title="LinkedIn">LinkedIn</a>
            <a href="https://github.com/torgestehr" title="GitHub">GitHub</a>
            <a href="https://www.youtube.com/@torgestehr" title="YouTube">YouTube</a>
        </div>
    </div>
</footer>

<style lang="scss">
    @use '/src/styles/variables' as *;

    .contact {
        margin: 0 auto;
        padding: 0 4vw;
        width: 100%;
        max-width: 1850px;

        div {
            position: relative;
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            flex-direction: column;
            border-top: 2px solid $black;
            padding: 140px 0;
            width: 100%;
            min-width: 100%;

            .title {
                position: absolute;
                top: 20px;
                margin: 0;
                padding-left: 16px;
                color: $black;
                font-weight: 500;
                font-size: 16px;
                line-height: 20px;
                text-transform: uppercase;
                transition: color 0.3s cubic-bezier(0.47, 0, 0.745, 0.715);

                &::before {
                    content: '';
                    position: absolute;
                    top: 50%;
                    left: 0;
                    transform: translateY(-50%);
                    width: 10px;
                    height: 10px;
                    border-radius: 50%;
                    background: $black;
                }
            }

            h3 {
                margin: 0;
                margin-bottom: 10px;
                color: $black;
                font-weight: 500;
                font-size: 6vw;
                line-height: 7vw;

                a {
                    position: relative;
                    color: $primary;
                    text-decoration: none;

                    &::before {
                        content: '';
                        position: absolute;
                        bottom: -20px;
                        left: 0;
                        transform: translateY(-50%);
                        width: 100%;
                        height: 9px;
                        background: $primary;
                        display: none;
                    }

                    &:hover {
                        &::before {
                            display: block;
                        }
                    }
                }
            }
        }
    }

    .socials {
        width: 100%;
        min-width: 100%;
        border-top: 2px solid $black;

        div {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            margin: 0 auto;
            width: 100%;
            max-width: 1850px;

            a {
                margin: 0;
                color: $black;
                font-size: 64px;
                font-weight: 500;
                text-decoration: none;
                padding: 70px 4vw;
                border-right: 2px solid $black;

                &:last-child {
                    border-right: none;
                }
            }
        }
    }
</style>
