---
import '/src/styles/global.scss';

import Nav from './Nav.astro';
import Footer from './Footer.astro';
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <title>Astro Basics</title>

        <!-- fonts -->
        <link rel="stylesheet" type="text/css" href="/fonts/fonts.css" />
    </head>
    <body>
        <Nav />
        <slot />
        <Footer />
    </body>
</html>
